## Part 1: Loading and Exploring Multiple Datasets

Let's load two related datasets (e.g., education and health indicators).

In [13]:
import pandas as pd

# Load education budget analysis dataset (local file)
edu = pd.read_csv('../data/usa-education-budget-analysis.csv')

# Load pharmaceutical drug spending dataset (local file)
health = pd.read_csv('../data/pharmaceutical-drug-spending.csv')

print('Education:', edu.shape)
print('Health:', health.shape)

Education: (1944, 3)
Health: (1341, 6)

## Part 2: Exploring Structure and Cleaning

Check columns, data types, and handle missing values.

In [ ]:
edu

                        Name  Year      Value
0         Legislative Branch  1976      936.0
1         Legislative Branch  1977     1057.0
2         Legislative Branch  1978     1087.0
3         Legislative Branch  1979     1131.0
4         Legislative Branch  1980     1318.0
...                      ...   ...        ...
1939  Total budget authority  2025  7484095.0
1940  Total budget authority  2026  7438266.0
1941  Total budget authority  2027  7669568.0
1942  Total budget authority  2028  8064385.0
1943  Total budget authority  2029  8382886.0

[1944 rows x 3 columns]

In [9]:
health

     LOCATION  TIME  PC_HEALTHXP  PC_GDP   USD_CAP  TOTAL_SPEND
0         AUS  1971       15.992   0.726    33.990       439.73
1         AUS  1972       15.091   0.685    34.184       450.44
2         AUS  1973       15.117   0.681    37.956       507.85
3         AUS  1974       14.771   0.754    45.338       622.17
4         AUS  1975       11.849   0.682    44.363       616.34
...       ...   ...          ...     ...       ...          ...
1336      USA  2017       11.954   2.004  1200.769    390396.57
1337      USA  2018       11.766   1.957  1229.266    401771.09
1338      USA  2019       11.767   1.961  1277.032    419287.86
1339      USA  2020       11.037   2.070  1315.218    436030.19
1340      USA  2021       11.743   2.039  1432.309    475596.74

[1341 rows x 6 columns]

In [11]:
print('Education columns:', edu.columns.tolist())
print('Health columns:', health.columns.tolist())

# Clean and standardize columns for merging
edu = edu.rename(columns={'Name': 'country', 'Year': 'year'})
health = health.rename(columns={'LOCATION': 'country', 'TIME': 'year'})

# Drop rows with missing country or year
edu = edu.dropna(subset=['country', 'year'])
health = health.dropna(subset=['country', 'year'])

# Convert year to int for both
edu['year'] = edu['year'].astype(int)
health['year'] = health['year'].astype(int)

Education columns: ['Name', 'Year', 'Value']
Health columns: ['LOCATION', 'TIME', 'PC_HEALTHXP', 'PC_GDP', 'USD_CAP', 'TOTAL_SPEND']

## Part 3: Joining, Merging, and Concatenating

Combine datasets to enrich your analysis.

In [12]:
# Merge on country and year
merged = pd.merge(edu, health, on=['country', 'year'], how='inner')
print('Merged shape:', merged.shape)
merged.head()

Merged shape: (0, 7)

Empty DataFrame
Columns: [country, year, Value, PC_HEALTHXP, PC_GDP, USD_CAP, TOTAL_SPEND]
Index: []

In [ ]:
# Concatenate DataFrames (for demonstration, only if columns match)
common_cols = list(set(edu.columns) & set(health.columns))
concat_df = pd.concat([edu[common_cols], health[common_cols]], axis=0, ignore_index=True)
print('Concatenated shape:', concat_df.shape)
concat_df.head()

## Part 4: Working with Time Series

Parse dates, resample, and analyze trends.

In [ ]:
# Convert year to datetime for time series analysis
merged['date'] = pd.to_datetime(merged['year'], format='%Y')

# Example: Resample by decade (if data is annual)
decade = merged.set_index('date').resample('10YS').mean(numeric_only=True)
decade.head()

## Part 5: GroupBy and Aggregation

Summarize data by region, country, or other groups.

In [ ]:
# Group by country and calculate mean pharmaceutical spending (USD_CAP) and education budget (if available)
if 'USD_CAP' in merged.columns:
    country_stats = merged.groupby('country')['USD_CAP'].mean().sort_values(ascending=False)
    print(country_stats.head())
else:
    print("No 'USD_CAP' column in merged DataFrame. Available columns:", merged.columns.tolist())

## Part 6: Exercises

Try these tasks:

1. **Join, merge, and concatenate**
   - Merge the two datasets on country and year. How many rows are in the merged DataFrame?
   - Concatenate the two datasets and check the shape.

2. **Explore dataset structure**
   - What are the columns and data types in each dataset?
   - How many unique countries are present in each?

3. **Clean and transform data**
   - Remove rows with missing values in key columns (country, year, USD_CAP).
   - Standardize country names if needed.

4. **Calculate summary statistics**
   - What is the mean, median, and max pharmaceutical spending per capita (USD_CAP) by country?
   - What is the trend in average pharmaceutical spending per capita over time?

5. **Filter and sort data to answer questions**
   - Which countries had the highest and lowest pharmaceutical spending per capita in the most recent year?
   - For the USA, plot pharmaceutical spending per capita over time.

6. **Group and aggregate**
   - Group by country and calculate the average pharmaceutical spending per capita for the last 10 years.
   - If education budget data is available, compare trends between education and health spending for a selected country.

Document your process and findings with clear explanations.